:global(.labels) {
    color: #391326;
    font-weight: 700;
}

:global(.headings) {
    color: #391326;
}

:global(.links) {
    color: #391326;
}

:global(.buttons) {
    background-color: white;
    border-radius: 4px;
    color: #391326;
    font-family: Tahoma;
    font-weight: bold;
    box-shadow: 0.5px 0.5px #ff3333;
    margin: 6px 6px 6px 6px;
}
